h1 {
    color: white;
    font-size: 30px;
  }
  
a {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 15px;
    
}


.band-header {
    height: 50px;
    background-color: #0d70e1;
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 30px;
    color: azure;
  }


 .Text {
  writing-mode: horiontal-tb;
  background-color: rgb(34, 39, 205);
  block-size: 500px;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
 }

 