.band-header {
    height: inherit;
    display: flex;
    justify-content: space-between; 
    font-size: 30px;
    font-weight: bold;
    color: azure;
    background-color: #9399a0;
    height: 125px;
    
  }



  .band-footer {
    height: 75px;
    background-color:#9399a0;
    display: flex;
    justify-content: center;
    margin:0;
    padding:10;
    width:auto;
    height: 100px;
  }


